canvas {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}

/*
#myCanvas {
    max-width: 500px;
}
*/

h1 {
    font-size: 24px;
}

#canvas, #buttons, h1 {
    text-align: center;
}

#buttons {
    margin: 20px 0;
}

button {
    font-family: Monda;
    font-size: 14px;
    border-radius: 5px;
    border-color: #778899;
    border-width: 1px;
    border-style: solid;
    background-color: #DDEEFF;
    margin: 0 5px;
}

@media screen and (max-width: 768px) {
}

nav {
    text-align: center;
}
